* {
  direction: rtl;
  color: white;
}
body {
  background-color: mediumpurple;
}
A {
  color: white;
  text-decoration: none;
}
.nav {
  background-color: black;
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  position: fixed;
  top: 0%;
}
.nav .lest {
  background-color: darkgreen;
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  position: fixed;
  top: 0%;
}
.nav .site-lenks li {
  width: 100%;
  min-width: 100%;
  max-width: 100%;
text-align: center;
list-style: none;
}
@media (max-width: 900px) {
  .nav {
    background-color: red;
  }
}
.nav .site-lenks li::hover {
  background-color: red;
}
.nav .site-lenks li a::visited {
  background-color: rebeccapurple;
}