* {
  direction: rtl;
  color: white;
}
body {
  background-color: mediumpurple;
}
A {
  color: white;
  text-decoration: none;
}
.nav {
  background-color: black;
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  position: fixed;
  top: 0%;
}
.nav .lest {
  background-color: darkgreen;
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  position: fixed;
  top: 0%;
}
.nav .lest li {
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  text-align: center;
}
@media (max-width: 1000px) {
  .NAV .lest LI {
    font-size: 60px;
    background-color: beige;
  }
}
