* {
  direction: rtl;
  color: white;
}
body {
  background-color: #FA7A35;
}
A {
  color: white;
  text-decoration: none;
}
.nav {
  background-color: #CD212A;
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  position: fixed;
  top: 0%;
}
.nav .lest {
  background-color: #CD212A;
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  position: fixed;
  top: 0%;
}
.nav li {
  width: 100%;
  min-width: 100%;
  max-width: 100%;
text-align: center;
list-style: none;
}
.nav .lest .site-links li::hover {
  background-color: red;
}
.nav .lest .site-links li a::visited {
  background-color: black;
}
H2 {
  text-align: center;
}
footer {
  background-color: mediumblue;
  min-height: 300px;
  min-width: 100%;
  max-width: 100%;
  bottom: 0%;
  display: flex;
  flex-direction: column;
  align-items: center;
}