@media (min-width: 1000px) {
  #newz-kontainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  #newz-kontainer .newz-ST1 {
    width: calc(95% / 3);
    margin-left: 1%;
  }
}
.newz-ST1 {
  background-color: green;
}