background-color: green;
}
.article button {
    .article button :hover {
    background-color: darkblue;
    min-width: 100%;
    max-width: 100%;
    min-height: 200px;
    max-height: 200px;
    display: flex;
    flex-direction: row;
}
@media (max-width: 1000px) {
    .article a {
        min-height: 200px;
        max-height: 200px;
        font-size: 30PX;
        display: flex;
        flex-direction: column;
    }
}