.article {
}
.article button{
    background-color: darkblue;
    min-width: 100%;
    max-width: 100%;
    min-height: 200px;
    max-height: 200px;
    display: flex;
    flex-direction: row;
}
@media (max-width: 1000px) {
    .article button {
        min-height: 200px;
        max-height: 200px;
        display: flex;
        flex-direction: column;
    }
}