.FILE {
    background-color: #282D3C;
    display: flex;
    flex-direction: row;
}
@media (max-width: 900px) {
    .FILE {
        min-height: 100px;
        max-height: 100px;
    }
}
.FILE img {
    min-width: 100px;
    max-width: 100px;
    min-height: 100px;
    max-height: 100px;
}
@media (max-width: 900px) {
    .FILE img {
        min-width: 50px;
        max-width: 50px;
        min-height: 50px;
        max-height: 50px;
    }
}