.service {
  background-color: darkred;
  padding-left: 15px;
  padding-right: 14px;
  padding-bottom: 20px;
  min-height: 500px;
  max-height: 500px;
  display: grid;
  grid-template-rows: 100px 300px 100px;
  grid-template-columns: 50% 100%;
}
.service-details {
  display: grid;
  grid-row-start: 101px;
  grid-row-end: 400px;
  grid-column-start: 0%;
  grid-column-end: 100%;
}
.service-details p {
  display: grid;
  grid-column-start: 0%;
  grid-column-end: 100%;
}
@media (min-width: 1000px) {
  .services-container {
    display: flex;
    flex-direction: row;
  }
  .service {
    width: calc(95% / 3);
    margin-left: 1%;
  }
}
.service-head {
  background-color: blue;
  text-align: center;
  display: grid;
  grid-row-start: 0px;
  grid-row-end: 100px;
}
.goToService {
  background-color: darkgreen;
  min-width: 50%;
  max-width: 50%;
  display: grid;
  grid-row-start: 401px;
  grid-row-end: 500px;
}

@media (min-wid th: 1000px) {
  .goToService {
    margin: auto;
  }
}