.service {
  background-color: purple;
  min-height: 320px;
  max-height: 320px;
  display: flex;
  flex-direction: column;
}
.service-head {
  background-color: blue;
  text-align: center;
}
.service-details {
  text-align: center;
}
.goToService {
  background-color: greenyellow;
  margin-right: 15px;
  margin-left: 15px;
}
@media (min-width: 1000px) {
  .goToService {
    margin: auto;
  }
}